{%- block choice_widget_expanded -%}
	{%- for child in form %}
        <div class="checkbox" >
	      <label >
	        <input type="checkbox" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} /> {{ child.vars.label|trans }}
	      </label>
	    </div>
	{% endfor -%}
{%- endblock choice_widget_expanded -%}


{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form,{ 'attr': {'class': 'form-control'} }) }}
    </div>
{% endspaceless %}
{% endblock form_row %}