{% extends '@AppBundle/Resources/views/edit_layout.html.twig' %}

{% block body_title %}Editar área{% endblock %}

{% block body_form %}
	{{ form_start(edit_form) }}
		{% if edit_form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(edit_form) }}
            </div>
        {% endif %}
		<div class="row">
        	<div class="col-xs-12 col-sm-6">
	            {{form_row(edit_form.name)}}
	            {{form_row(edit_form._token)}}
        	</div>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<button class="btn btn-sm btn-primary">Aceptar</button>
				<button class="btn btn-sm btn-default">Cancelar</button>
			</div>
		</div>
    </form>
{% endblock %}