{% extends '@AppBundle/Resources/views/index_layout.html.twig' %}

{% block body_title %}Areas{% endblock %}

{% block body_search %}
	<form method="GET">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" name="filter[name]" placeholder="Nombre" class="form-control" {% if filter['name'] is defined %} value="{{filter['name']}}" {% endif %}>
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
        <a href="{{path('area_index')}}" class="btn btn-sm btn-default">Todos</a>
    </form>
{% endblock %}

{% block body_new_button %}<a href="{{path('area_new')}}" class="btn btn-primary btn-sm">Nueva área</a>{% endblock %}

{% block body_table %}
	<thead>
	    <tr>
	        <th>Nombre</th>
	        <th width="100">Acciones</th>
	    </tr>
	</thead>
	<tbody>
		{% for area in areas %}
		    <tr>
		        <td>{{area.name}}</td>
		        <td>
		            <a href="{{ path('area_edit', { 'id': area.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
		            <a href="{{ path('area_delete', { 'id': area.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?')"><i class="glyphicon glyphicon-trash"></i></a>
		        </td>
		    </tr>
		{% endfor %}
	</tbody>
{% endblock %}