<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %} 
            	<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Éxito: </strong> Se cambió correctamente la contraseña.
				</div>
            	<a href="{{ path('fos_user_security_logout') }}">Continuar</a> 
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('plugins/jquery/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('plugins/propper/propper.min.js') }}"></script>
            <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>

