{% extends 'layout.html.twig' %}
{% form_theme edit_form 'form/fields.html.twig' %}
{% block body %}
	<div class="panel panel-default">
        <div class="panel-heading"><h1 >{% block body_title %}{% endblock %}</h1></div>
        <div class="panel-body">
            {% block body_form %}{% endblock %}
        </div>
    </div>
{% endblock %}