{% extends 'layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h1 class="page-header">
				{% block body_title %}{% endblock %}
			</h1>
		</div>
	</div>
	<div class="row">
    	<div class="col-xs-12 col-sm-3">
    		<ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Buscar</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search">
                	{% block body_search %}{% endblock %}
                </div>
            </div>
    	</div>
    	<div class="col-xs-12 col-sm-9">
            {% block body_new_button %}{% endblock %}
            <br />
            <br />
            <div class="table-responsive">
        		<table class="table table-hover">
        			{% block body_table %}{% endblock %}
        		</table>
            </div>
            {% block paginator %}
            {% endblock %}
            {% block other_container %}
            {% endblock %}
    	</div>
	</div>
{% endblock %}