<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block menu %}{% endblock %}
            {% include 'messages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('plugins/jquery/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('plugins/propper/propper.min.js') }}"></script>
            <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
