{% extends 'base.html.twig' %}

{% block menu %}
  <nav class="navbar navbar-default navbar-fixed-to">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                    <span class="sr-only">Navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  href="#"><img src="img/icon.png" class="navbar-bran" alt=""></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav">
                    {% if is_granted(['ROLE_LEVEL3','ROLE_FULL']) %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-white">Estructura <span class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('area_index')}}"><span class="text-white">Áreas</span></a></li>
                            <li><a href="{{path('direction_index')}}"><span class="text-white">Dirección</span></a></li>
                            <li><a href="{{path('ministry_index')}}"><span class="text-white">Ministerios</span></a></li>
                            <li><a href="{{path('secretariat_index')}}"><span class="text-white">Secretaría</span></a></li>
                        </ul>
                    </li>
                    {% endif %}

                    <li><a href="{{path('benefit_index')}}"><span class="text-white">Beneficiarios</span></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-white">Listados <span class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('contratos_index')}}"><span class="text-white">Contratos</span></a></li>
                            <li><a href="{{path('becas_index')}}"><span class="text-white">Becas</span></a></li>
                        </ul>
                    </li>

                    {% if is_granted(['ROLE_FULL']) %}
                    <li><a href="{{path('user_index')}}"><span class="text-white">Usuarios</span></a></li>
                    {% endif %}
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text-white">{{app.user.username}} <span class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_change_password') }}"><span class="text-white">Cambiar contraseña</span></a></li>
                            <li><a href="{{path('fos_user_security_logout')}}"><span class="text-white">Salir</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>      
    </nav>
{% endblock %}