{% extends 'base.html.twig' %}

{%  block header %}{% include 'MaiMainBundle:pages:mini_header.html.twig' %}{% endblock %}


{% block body %}

<style type="text/css">
    .registration-errors li {
        list-style: none;
        color: #a94442;
    }
</style>

<div class="alta_proyecto_gris_oscuro sinslide" >
  <div class="global">
    <div class="caja_registro rform">
      <form id="formulario" name="fos_user_registration_form" method="post" action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register">
        {% if form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(form) }}
            </div>
        {% endif %}
        <div class="col-xs-12">
          <h1>{% trans %}register.registrateParaContinuar{% endtrans %}</h1>
        </div>
        <div class="col-xs-12 form_field form-group register">
          <input type="text" class="form-control" placeholder="{% trans %}register.nombre{% endtrans %}" id="fos_user_registration_form_firstName" name="fos_user_registration_form[firstName]" />
        </div>
        <div class="col-xs-12 form_field form-group register">
          <input type="text" class="form-control" placeholder="{% trans %}register.apellido{% endtrans %}" id="fos_user_registration_form_lastName" name="fos_user_registration_form[lastName]" />
        </div>
        <div class="col-xs-12 form_field form-group register">
          <input type="email" class="form-control" placeholder="{% trans %}register.correo{% endtrans %}" id="fos_user_registration_form_email" name="fos_user_registration_form[email]"  />
        </div>
        <div class="col-xs-12 form_field form-group register">
          <input type="text" class="form-control" placeholder="{% trans %}register.birthDate{% endtrans %}" id="fos_user_registration_form_birthDate" name="fos_user_registration_form[birthDate]"  />
        </div>
        <div class="col-xs-12 form_field form-group register">
          <input type="password" class="form-control" placeholder="{% trans %}register.contrasena{% endtrans %}" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" />
            <div class="progress password-progress">
                <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0;"></div>
            </div>
        </div>
        <div class="col-xs-12 form_field form-group register">
          <input type="password" class="form-control" placeholder="{% trans %}register.repetirContrasena{% endtrans %}" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]"  />
        </div>
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">{% trans %}register.registrarme{% endtrans %}</button>
        </div>
        <div class="col-xs-12">
            {% include 'MaiUserBundle:facebook:_partial_facebook.html.twig' %}    
        </div>
        <div class="col-xs-12 terminos">
          <p>
            {% trans %}register.terminosP1{% endtrans %}<br />
            <a href="{{ path('mia_general_terms') }}">{% trans %}register.terminosP2{% endtrans %}</a>
            {% trans %}register.terminosP4{% endtrans %}
            
            <a href="{{ path('mia_privacy_policy') }}">{% trans %}register.terminosP3{% endtrans %}</a>.
          </p>
        </div>
        <div class="col-xs-12 tengo_cuenta">
          <p>{% trans %}register.tengoCuenta{% endtrans %}<a href="{{ path('fos_user_security_login') }}">{% trans %}register.iniciarSesion{% endtrans %}</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<style type="text/css">
    .progress.password-progress {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<script>
$(document).ready(function() {
    $('#formulario').formValidation({   
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        locale: 'es_ES',
        fields: {            
            "fos_user_registration_form[firstName]": {
                validators: {
                    notEmpty: {
                        message: '{{ "register.nombre"|trans }} {{ "main.requerido"|trans }}'
                    }
                }
            },
            "fos_user_registration_form[lastName]": {
                validators: {
                    notEmpty: {
                        message:  '{{ "register.apellido"|trans }} {{ "main.requerido"|trans }}'
                    }
                }
            },      
            "fos_user_registration_form[email]": {
                validators: {
                    notEmpty: {
                        message:  '{{ "register.correo"|trans }} {{ "main.requerido"|trans }}',
                        emailAddress: {
                            message: '{{ "register.correoInvalido"|trans }}'
                        }
                    }
                }
            },
            "fos_user_registration_form[plainPassword][first]": {
                validators: {
                    notEmpty: {
                        message:  '{{ "validation.requiredField"|trans }}'
                    },
                    callback: {
                        callback : validateStrength
                    }
                }
            },
            "fos_user_registration_form[plainPassword][second]": {
                validators: {
                    identical: {
                        field: 'fos_user_registration_form[plainPassword][first]',
                        message: '{{ "register.identical"|trans }}'
                    }
                }
            },
            "fos_user_registration_form[birthDate]": {
                validators: {
                    date: {
                        message: '{{ "register.grater18YearsOld"|trans }}',
                        format: 'DD-MM-YYYY',
                        // min and max options can be strings or Date objects
                        min: '01-01-1900',
                        max: '{{ "now"|date_modify("-18 years")|date("d-m-Y")  }}'
                    }
                }
            }    
        }
    }).on('err.field.fv', function(e, data) {
            data.fv.disableSubmitButtons(false);
        })
        .on('success.field.fv', function(e, data) {
            data.fv.disableSubmitButtons(false);
        });;
});
</script>

<script>  
$(document).ready(function() {
    $('#fos_user_registration_form_birthDate').datepicker({
        dateFormat: 'dd-mm-yy',
        changeYear: true,
        changeMonth: true,
        showMonthAfterYear: true,
        yearRange: '1900:',
        maxDate: new Date
    });

    $('#fos_user_registration_form_birthDate').change(function() {
        $('#formulario').formValidation('revalidateField', 'fos_user_registration_form[birthDate]');
    });
});
    

</script>

{% endblock %}
