{% extends '@AppBundle/Resources/views/new_layout.html.twig' %}

{% block body_title %}Cambiar contraseña{% endblock %}

{% block body_form %}
    <style>
        .checkbox{
            margin-left: 30px;
        }
        .checkbox input{
            height:0px;
            margin-top: -1px;
        }
        .checkbox input[type="checkbox"]{
            width: 10px;
        }
    </style>
    {{ form_start(form) }}
        {% if form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(form) }}
            </div>
        {% endif %}
        <div class="form_field form-group change-password">
            {{ form_row(form.current_password, {'attr' : {'placeholder' : '',},'label': 'Contraseña actual'}) }}
            {% if form.current_password.vars.errors | length %}
            <div class="change-pass-errors">
                {{ form_errors(form.current_password) }}    
            </div>
            {% endif %}
            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                {{form_row(form.plainPassword.first,{'label':'Contraseña'})}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                {{form_row(form.plainPassword.second,{'label':'Repetir contraseña'})}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <button class="btn btn-sm btn-primary">Aceptar</button>
                <button class="btn btn-sm btn-default">Cancelar</button>
            </div>
        </div>
        {{form_row(form._token)}}
    </form>
{% endblock %}