{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
        <form id="formulario" action="{{ path("fos_user_security_check") }}" method="post" class="fos_user_registration_register">
            <h1 class="page-header">Login</h1>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="_login_page_html" value="true" />
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="User" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña" id="password" name="_password" />
            </div>
            <div class="col-xs-12">
              <button type="submit" class="btn btn-outline-success btn-rigth">Ingresar</button>
            </div>
        </form>

    </div>
  </div>
</div>
{% endblock %}
