{% extends 'base.html.twig' %}

{% block body %}
	<style>
		body{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.fos_form{
			max-width: 400px;
			margin:0 auto;
		}
		.fos_form h1{
			padding-bottom: 10px;
			border-bottom: 1px solid #28a745;
		}
		.btn-rigth{
			float: right;
		}
	</style>
	<div class="fos_form">
      {% block content %}
        {% block fos_user_content %}{% endblock %}
      {% endblock %}
    </div>
{% endblock %}

