{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
    <div role="dialog" id="confirmModal" class="registro clave_ok">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">

                    <p>Bien. Te enviamos un correo electrónico
                        con un enlace
                        para restablecer la contraseña.</p>
                    <a href="{{ path('home') }}"><button>De acuerdo</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
