{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<style type="text/css">
    .registro.clave {
        margin-top: 0px;
    }
</style>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div role="dialog" id="confirmModal" class="registro clave">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">



        <div>
            <p>Te enviaremos un mail  para recuperar tu clave</p>
            {% if invalid_username is defined %}
                <br/>
                {{ 'El usuario o dirección de correo "'~invalid_username~'" no existe.' }}
            {% endif %}
            <input type="email" id="username" placeholder="Email" name="username" required="required" />
            <span>Email con el que te registraste</span>

            <input  class="button" type="submit" value="Enviar" />
        </div>

                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock fos_user_content %}
