{% extends '@AppBundle/Resources/views/edit_layout.html.twig' %}

{% block body_title %}Cambiar contraseña{% endblock %}

{% block body_form %}
    <style>
        .checkbox{
            margin-left: 30px;
        }
        .checkbox input{
            height:0px;
            margin-top: -1px;
        }
        .checkbox input[type="checkbox"]{
            width: 10px;
        }
    </style>
    {{ form_start(edit_form) }}
        {% if edit_form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(edit_form) }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                {{form_row(form.plainPassword.first,{'label':'Contraseña'})}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                {{form_row(form.plainPassword.second,{'label':'Repetir contraseña'})}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <button class="btn btn-sm btn-primary">Aceptar</button>
                <button class="btn btn-sm btn-default">Cancelar</button>
            </div>
        </div>
        {{form_row(edit_form._token)}}
    </form>
{% endblock %}