{% extends '@AppBundle/Resources/views/new_layout.html.twig' %}

{% block body_title %}Nueva secretaría{% endblock %}

{% block body_form %}
	{{ form_start(form) }}
		{% if form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(form) }}
            </div>
        {% endif %}
		<div class="row">
        	<div class="col-xs-12 col-sm-6">
	            {{form_row(form.name)}}
	            {{form_row(form._token)}}
        	</div>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<button class="btn btn-sm btn-primary">Aceptar</button>
				<a href="{{path('secretariat_index')}}"  class="btn btn-sm btn-default">Cancelar</a>
			</div>
		</div>
    </form>
{% endblock %}