{% extends '@AppBundle/Resources/views/index_layout.html.twig' %}

{% block body_title %}Usuarios{% endblock %}

{% block body_search %}
	<form method="GET">
        <div class="form-group">
            <label for="">Usuario</label>
            <input type="text" id="" name="search[]" placeholder="Usuario" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" name="search[]" placeholder="Nombre" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
        <a href="" class="btn btn-sm btn-default">Todos</a>
    </form>
{% endblock %}

{% block body_table %}
	<thead>
	    <tr>
	        <th>Usuario</th>
	        <th>Nombre</th>
	        <th width="100">Acciones</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
	        <td>rodrigo</td>
	        <td>Rodrigo Battagliero</td>
	        <td>
	            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Ver"><i class="glyphicon glyphicon-eye-open"></i> </a>
	            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
	            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
	        </td>
	    </tr>
	    <tr>
			<td>admin</td>
	        <td>Administrador</td>
	        <td>
	            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Ver"><i class="glyphicon glyphicon-eye-open"></i> </a>
	            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
	            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
	        </td>
	    </tr>
	</tbody>
{% endblock %}