{% extends '@AppBundle/Resources/views/new_layout.html.twig' %}

{% block body_title %}Nuevo usuario{% endblock %}

{% block body_form %}
	<form action="{{ path('fos_user_registration_register') }}">
		{% if form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(form) }}
            </div>
        {% endif %}
		<div class="row">
        	<div class="col-xs-12 col-sm-6">
        		<div class="form-group">
	                <label for="Usuario">Usuario</label>
	                <input type="text" id="Usuario" class="form-control" placeholder="Nombre" name="fos_user_registration_form[username]">
	            </div>
	            <div class="form-group">
	                <label for="nombre">Nombre</label>
	                <input type="text" id="nombre" class="form-control" placeholder="Nombre" name="fos_user_registration_form[firstName]">
	            </div>
	            <div class="form-group">
	                <label for="apellido">Apellido</label>
	                <input type="text" id="apellido" class="form-control" placeholder="Apellido" name="fos_user_registration_form[lastname]">
	            </div>
        	</div>
        	<div class="col-xs-12 col-sm-6">
                <div class="form-group">
	                <label for="fecha_nacimiento">fecha de nacimiento</label>
	                <input type="text" id="fecha_nacimiento" class="form-control" placeholder="dd/mm/yyyy" name="fos_user_registration_form[birthday]">
	            </div>
	            <div class="form-group">
	                <label for="contraseña">Contraseña</label>
	                <input type="password" id="contraseña" class="form-control" placeholder="Contraseña" name="fos_user_registration_form[plainPassword][first]">
	            </div>
	            <div class="form-group">
	                <label for="contraseña_repiet">Repetir contraseña</label>
	                <input type="password" id="contraseña_repiet" class="form-control" placeholder="Repetir contraseña" name="fos_user_registration_form[plainPassword][second]">
	            </div>
        	</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<button class="btn btn-sm btn-primary">Aceptar</button>
				<button class="btn btn-sm btn-default">Cancelar</button>
			</div>
		</div>
    </form>
{% endblock %}