{% extends '@AppBundle/Resources/views/edit_layout.html.twig' %}

{% block body_title %}Editar usuario{% endblock %}

{% block body_form %}
	<style>
		.radio{
			margin-left: 30px;
		}
		.radio input{
			height:0px;
			margin-top: -1px;
		}
		.radio input[type="radio"]{
			width: 10px;
		}
	</style>
	{{ form_start(edit_form) }}
		{% if edit_form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(edit_form) }}
            </div>
        {% endif %}
		<div class="row">
			<div class="col-xs-12 col-sm-12">
		        {{form_row(edit_form.firstName)}}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        {{form_row(edit_form.lastname)}}
	        </div>
	    </div>
	    <div class="row">
        	<div class="col-xs-12 col-sm-12">
		        {{form_row(edit_form.email)}}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        {{form_row(edit_form.username)}}
	        </div>
	    </div>
	   	<div class="row">
	        <div class="col-xs-12 col-sm-12">
		        <div class="form-group">
		        	<label>Roles</label>
		        	<div class="radio" >
		        		<label >
		        			<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_LEVEL1" {% if edit_form.children.roles.vars.value[0] == 'ROLE_LEVEL1' %} checked="checked" {% endif %} /> Nivel 1: Solo puede consultar los registros, listados, etc.
			      		</label>
			  		</div>
			  		<div class="radio" >
			  			<label >
			  				<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_LEVEL2" {% if edit_form.children.roles.vars.value[0] == 'ROLE_LEVEL2' %} checked="checked" {% endif %} /> Nivel 2: solo puede cargar y consultar la carga.
			      		</label>
			      	</div>
			      	<div class="radio" >
			      		<label >
			      			<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_LEVEL3" {% if edit_form.children.roles.vars.value[0] == 'ROLE_LEVEL3' %} checked="checked" {% endif %} /> Nivel 3: igual nivel 1 más modificar y eliminar registros, cargar áreas.
			      		</label>
			  		</div>
			  		<div class="radio" >
			  			<label >
			  				<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_FULL" {% if edit_form.children.roles.vars.value[0] == 'ROLE_FULL' %} checked="checked" {% endif %} /> Super admin: acceso full al sistema.
			      		</label>
			  		</div>
				</div>
	        </div>
	    </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<button class="btn btn-sm btn-primary">Aceptar</button>
				<button class="btn btn-sm btn-default">Cancelar</button>
			</div>
		</div>
		{{form_row(edit_form._token)}}
    </form>
{% endblock %}