{% extends '@AppBundle/Resources/views/index_layout.html.twig' %}

{% block body_title %}Usuarios del sistema{% endblock %}

{% block body_search %}
	<form method="GET">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" name="filter[name]" placeholder="Nombre" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
        <a href="{{path('user_index')}}" class="btn btn-sm btn-default">Todos</a>
    </form>
{% endblock %}

{% block body_new_button %}<a href="{{path('user_new')}}" class="btn btn-primary btn-sm">Nuevo usuario</a>{% endblock %}

{% block body_table %}
	<thead>
	    <tr>
	        <th>Nombre</th>
	        <th>User</th>
	        <th>Roles</th>
	        <th width="100">Acciones</th>
	    </tr>
	</thead>
	<tbody>
		{% for user in users %}
		    <tr>
		        <td>{{user.lastname}}, {{user.firstName}}</td>
		        <td>{{user.username}}</td>
		        <td>
		        	{% if user.roles[0] is defined %}
		        		{{user.roles[0]}}
		        	{% endif %}
		        	
		        </td>
		        <td>
		            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
		            {% if user.enabled %}
		            	<a href="{{ path('user_down', { 'id': user.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Deshabilitar"><i class="glyphicon glyphicon-arrow-down"></i></a>
		            {% else %}
		            	<a href="{{ path('user_up', { 'id': user.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Habilitar"><i class="glyphicon glyphicon-arrow-up"></i></a>
		            {% endif %}

		            <a href="{{path('user_delete', { 'id': user.id })}}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?')"><i class="glyphicon glyphicon-trash"></i></a>
		        </td>
		    </tr>
		{% endfor %}
	</tbody>
{% endblock %}