{% extends '@AppBundle/Resources/views/new_layout.html.twig' %}

{% block body_title %}Nuevo usuario{% endblock %}

{% block body_form %}
	<style>
		.radio{
			margin-left: 30px;
		}
		.radio input{
			height:0px;
			margin-top: -1px;
		}
		.radio input[type="radio"]{
			width: 10px;
		}
	</style>
	{{ form_start(form) }}
		{% if form.vars.errors is not empty %}
            <div class="registration-errors">
                {{   form_errors(form) }}
            </div>
        {% endif %}
		<div class="row">
			<div class="col-xs-12 col-sm-12">
		        {{form_row(form.firstName)}}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        {{form_row(form.lastname)}}
	        </div>
	    </div>
	    <div class="row">
        	<div class="col-xs-12 col-sm-12">
		        {{form_row(form.email)}}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        {{form_row(form.username)}}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        <div class="form-group">
		        	<label>Roles</label>
		        	<div class="radio" >
		        		<label >
		        			<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_LEVEL1" /> Nivel 1: Solo puede consultar los registros, listados, etc.
			      		</label>
			  		</div>
			  		<div class="radio" >
			  			<label >
			  				<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_LEVEL2" /> Nivel 2: solo puede cargar y consultar la carga.
			      		</label>
			      	</div>
			      	<div class="radio" >
			      		<label >
			      			<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_LEVEL3" /> Nivel 3: igual nivel 1 más modificar y eliminar registros, cargar áreas.
			      		</label>
			  		</div>
			  		<div class="radio" >
			  			<label >
			  				<input type="radio" id="user_roles" name="user[roles]" class="form-control" value="ROLE_FULL" /> Super admin: acceso full al sistema.
			      		</label>
			  		</div>
				</div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        {{form_row(form.plainPassword.first,{'label':'Contraseña'})}}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-12">
		        {{form_row(form.plainPassword.second,{'label':'Repetir contraseña'})}}
	        </div>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<button class="btn btn-sm btn-primary">Aceptar</button>
				<button class="btn btn-sm btn-default">Cancelar</button>
			</div>
		</div>
		{{form_row(form._token)}}
    </form>
{% endblock %}