{% extends 'base.html.twig' %}

{% block body %}
    <h1>Benefits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Area</th>
                <th>Secretariat</th>
                <th>Ministry</th>
                <th>Areamanager</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Dni</th>
                <th>Cuil</th>
                <th>Birthday</th>
                <th>Place</th>
                <th>Nationality</th>
                <th>Bloodtype</th>
                <th>Civilstatus</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Street</th>
                <th>Neighborhood</th>
                <th>City</th>
                <th>Depto</th>
                <th>Zipcode</th>
                <th>Isprimaryschool</th>
                <th>Isbasiccycle</th>
                <th>Ishighschool</th>
                <th>Istertiaryschool</th>
                <th>Ispostgrade</th>
                <th>Degree</th>
                <th>Actualstudy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for benefit in benefits %}
            <tr>
                <td><a href="{{ path('benefit_show', { 'id': benefit.id }) }}">{{ benefit.id }}</a></td>
                <td>{{ benefit.type }}</td>
                <td>{{ benefit.area }}</td>
                <td>{{ benefit.secretariat }}</td>
                <td>{{ benefit.ministry }}</td>
                <td>{{ benefit.areaManager }}</td>
                <td>{{ benefit.name }}</td>
                <td>{{ benefit.lastname }}</td>
                <td>{{ benefit.dni }}</td>
                <td>{{ benefit.cuil }}</td>
                <td>{% if benefit.birthday %}{{ benefit.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{{ benefit.place }}</td>
                <td>{{ benefit.nationality }}</td>
                <td>{{ benefit.bloodType }}</td>
                <td>{{ benefit.civilStatus }}</td>
                <td>{{ benefit.phone }}</td>
                <td>{{ benefit.email }}</td>
                <td>{{ benefit.street }}</td>
                <td>{{ benefit.neighborhood }}</td>
                <td>{{ benefit.city }}</td>
                <td>{{ benefit.depto }}</td>
                <td>{{ benefit.zipCode }}</td>
                <td>{{ benefit.isPrimarySchool }}</td>
                <td>{{ benefit.isBasicCycle }}</td>
                <td>{{ benefit.isHighSchool }}</td>
                <td>{{ benefit.isTertiarySchool }}</td>
                <td>{{ benefit.isPostgrade }}</td>
                <td>{{ benefit.degree }}</td>
                <td>{{ benefit.actualStudy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('benefit_show', { 'id': benefit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('benefit_edit', { 'id': benefit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('benefit_new') }}">Create a new benefit</a>
        </li>
    </ul>
{% endblock %}
