{% extends '@AppBundle/Resources/views/index_layout.html.twig' %}

{% block body_title %}Contratos{% endblock %}

{% block body_search %}
	<form method="GET">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" name="filter[name]" placeholder="Nombre" class="form-control" {% if filter['name'] is defined %} value="{{filter['name']}}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="">DNI</label>
            <input type="text" id="benefit_dni" name="filter[dni]" placeholder="DNI" class="form-control" {% if filter['dni'] is defined %} value="{{filter['dni']}}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="">Pasaporte</label>
            <input type="text" id="" name="filter[passport]" placeholder="Pasaporte" class="form-control" {% if filter['passport'] is defined %} value="{{filter['passport']}}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="">Cuil</label>
            <input type="text" id="benefit_cuil" name="filter[cuil]" placeholder="Cuil" class="form-control" {% if filter['cuil'] is defined %} value="{{filter['cuil']}}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="">Área</label>
            <select name="filter[area]" placeholder="Área" class="form-control">
            	<option value="">Seleccionar</option>
	            {% set i = 0 %}
	            {% for area in areas %}
	            	{% set i = i + 1 %}
	            	<option value="{{i}}" {% if filter['area'] is defined and filter['area'] == i %} selected="selected" {% endif %}>{{area}}</option>
	            	
	            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">Ministerio</label>
            <select name="filter[ministry]" placeholder="Ministerio" class="form-control">
            	<option value="">Seleccionar</option>
	            {% set i = 0 %}
	            {% for ministry in ministries %}
	            	{% set i = i + 1 %}
	            	<option value="{{i}}" {% if filter['ministry'] is defined and filter['ministry'] == i %} selected="selected" {% endif %}>{{ministry}}</option>
	            	
	            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">Secretaría</label>
            <select name="filter[secretariat]" placeholder="Secretaría" class="form-control">
            	<option value="">Seleccionar</option>
	            {% set i = 0 %}
	            {% for secretariat in secretariats %}
	            	{% set i = i + 1 %}
	            	<option value="{{i}}" {% if filter['secretariat'] is defined and filter['secretariat'] == i %} selected="selected" {% endif %}>{{secretariat}}</option>
	            	
	            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">Dirección</label>
            <select name="filter[direction]" placeholder="Dirección" class="form-control">
            	<option value="">Seleccionar</option>
	            {% set i = 0 %}
	            {% for direction in directions %}
	            	{% set i = i + 1 %}
	            	<option value="{{i}}" {% if filter['direction'] is defined and filter['direction'] == i %} selected="selected" {% endif %}>{{direction}}</option>
	            	
	            {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
        <a href="{{path('contratos_index')}}" class="btn btn-sm btn-default">Todos</a>
    </form>
{% endblock %}

{% block body_new_button %}
	<a href="{{path('benefit_list_pdf',search)}}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-download-alt"></i> Descargar PDF</a>
{% endblock %}

{% block body_table %}
	<div class="alert alert-info" role="alert">Total de becas: {{ pagination.getTotalItemCount }}</div>
	<thead>
	    <tr>
	        <th>Nombre</th>
	        <th>DNI/pasaporte</th>
	        <th>Tipo</th>
	        <th>Área/Otro</th>
	        <th>Cargado por</th>
	        <th width="100">Acciones</th>
	    </tr>
	</thead>
	<tbody>
		{% for benefit in pagination %}
		    <tr>
		        <td>{{benefit.fullName}}</td>
		        <td>
		        	{{benefit.dni}}
		        	{% if benefit.passport %}
		        		/ {{benefit.passport}}
		        	{% endif %}
		        </td>
		        <td>{{benefit.typeName}}</td>
		        <td>
		        	{% if benefit.area %}
		        		{{benefit.area.name}}
		        	{% elseif benefit.institutionOther %}
		        		{{benefit.institutionOther}}
		        	{% else %}
		        		No hay datos cargados
		        	{% endif %}
		        </td>
		        <td>
		        	{% if benefit.user %}
		        		{{benefit.user.lastname}}, {{benefit.user.firstName}}
		        	{% else %}
		        		Sin definir
		        	{% endif %}
		        </td>
		        <td>
		        	<a href="{{ path('benefit_show', { 'id': benefit.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Ver"><i class="glyphicon glyphicon-eye-open"></i></a>
		        	{% if is_granted(['ROLE_LEVEL3','ROLE_FULL']) %}
		            <a href="{{ path('benefit_edit', { 'id': benefit.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
		            <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
		        	{% endif %}
		        </td>
		    </tr>
		{% endfor %}
	</tbody>
{% endblock %}
{% block paginator %}
	{{ knp_pagination_render(pagination) }}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('plugins/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css') }}">
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<script src="{{ asset('plugins/jQuery-Mask-Plugin-master/src/jquery.mask.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js') }}"></script>

	<script>
	$(document).ready(function(){
		$('#benefit_dni').mask('00.000.000');
		$('#benefit_cuil').mask('00-00000000-0');

		$('select').selectpicker({});
	});
	</script>
{% endblock %}