{% extends '@AppBundle/Resources/views/index_layout.html.twig' %}

{% block body_title %}Beneficiarios{% endblock %}

{% block body_search %}
	<form method="GET">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" name="filter[name]" placeholder="Nombre" class="form-control" {% if filter['name'] is defined %} value="{{filter['name']}}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="">DNI</label>
            <input type="text" id="benefit_dni" name="filter[dni]" placeholder="DNI" class="form-control" {% if filter['dni'] is defined %} value="{{filter['dni']}}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="">Tipo</label>
            <select name="filter[type]" placeholder="Tipo" class="form-control">
            	<option value="">Seleccionar</option>
	            {% set i = 0 %}
	            {% for type in types %}
	            	{% set i = i + 1 %}
	            	<option value="{{i}}" {% if filter['type'] is defined and filter['type'] == i %} selected="selected" {% endif %}>{{type}}</option>
	            	
	            {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
        <a href="{{path('benefit_index')}}" class="btn btn-sm btn-default">Todos</a>
    </form>
{% endblock %}

{% block body_new_button %}
	{% if is_granted(['ROLE_LEVEL2','ROLE_LEVEL3','ROLE_FULL']) %}
	<a href="{{path('benefit_new')}}" class="btn btn-primary btn-sm">Nuevo beneficio</a>
	{% endif %}
{% endblock %}

{% block body_table %}
	<thead>
	    <tr>
	        <th>Nombre</th>
	        <th>DNI/pasaporte</th>
	        <th>Tipo</th>
	        <th>Área/Otro</th>
	        <th>Cargado por</th>
	        <th width="150">Acciones</th>
	    </tr>
	</thead>
	<tbody>
		{% for benefit in pagination %}
		    <tr>
		        <td>{{benefit.fullName}}</td>
		        <td>
		        	{{benefit.dni}}
		        	{% if benefit.passport %}
		        		/ {{benefit.passport}}
		        	{% endif %}
		        </td>
		        <td>{{benefit.typeName}}</td>
		        <td>
		        	{% if benefit.area %}
		        		{{benefit.area.name}}
		        	{% elseif benefit.institutionOther %}
		        		{{benefit.institutionOther}}
		        	{% else %}
		        		No hay datos cargados
		        	{% endif %}
		        </td>
		        <td>
		        	{% if benefit.user %}
		        		{{benefit.user.lastname}}, {{benefit.user.firstName}}
		        	{% else %}
		        		Sin definir
		        	{% endif %}
		        </td>
		        <td>
		        	<a href="{{ path('benefit_show', { 'id': benefit.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Ver"><i class="glyphicon glyphicon-eye-open"></i></a>
		        	<a href="{{ path('benefit_pdf', { 'id': benefit.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="PDF"><i class="glyphicon glyphicon-download"></i></a>
		        	{% if is_granted(['ROLE_LEVEL3','ROLE_FULL']) %}
		            <a href="{{ path('benefit_edit', { 'id': benefit.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
		            <a href="{{ path('benefit_delete', { 'id': benefit.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?')"><i class="glyphicon glyphicon-trash"></i></a>
		        	{% endif %}
		        </td>
		    </tr>
		{% endfor %}
	</tbody>
{% endblock %}
{% block paginator %}
	{{ knp_pagination_render(pagination) }}
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<script src="{{ asset('plugins/jQuery-Mask-Plugin-master/src/jquery.mask.js') }}"></script>

	<script>
	$(document).ready(function(){
		$('#benefit_dni').mask('00.000.000');
	});
	</script>
{% endblock %}