{% extends 'layout.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}
{% block body %}
	<div class="benefit-wrapper">
		{{form_start(form)}}
		<div class="panel panel-default">
	        <div class="panel-heading"><h3>Generales</h3></div>
	        <div class="panel-body">
	        	<div class="row">
		            <div class="col-xs-12 col-sm-3">
		            	{{form_row(form.type,{'attr':{'data-validation-length':'min1','data-validation':'length'}})}}
		            </div>
		            <div class="col-xs-12 col-sm-3">
		            	{{form_row(form.dni,{'attr':{'data-validation-length':'0-10','data-validation':'length'}})}}
		            </div>
		            <div class="col-xs-12 col-sm-3">
		            	{{form_row(form.passport,{'attr':{'data-validation-length':'0-9','data-validation':'length'}})}}
		            </div>
		            <div class="col-xs-12 col-sm-3">
		            	{{form_row(form.cuil,{'attr':{'data-validation-length':'0-13','data-validation':'length'}})}}
		            </div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Datos personales</h3></div>
	        <div class="panel-body">
	        	<div class="row">
		            <div class="col-xs-12 co sm-12">
		            	{{form_row(form.lastname,{'attr':{'data-validation-length':'1-200','data-validation':'length'}})}}
		            </div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		{{form_row(form.name,{'attr':{'data-validation-length':'1-200','data-validation':'length'}})}}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.birthday,{'attr':{'data-validation-length':'0-10','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.place,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.nationality,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.bloodType,{'attr':{'title':'Seleccionar'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.civilStatus,{'attr':{'data-validation-length':'min1','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.phone,{'attr':{'data-validation-length':'1-100','data-validation':'length'}})}}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		{{form_row(form.email,{'attr':{'data-validation':'email','data-validation-optional':'true'}})}}
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Domicilio</h3></div>
	        <div class="panel-body">
	        	<div class="row">
		            <div class="col-xs-12 co sm-6">
		            	{{form_row(form.street,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		            </div>
		            <div class="col-xs-12 co sm-6">
		            	{{form_row(form.neighborhood,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		            </div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.city,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.depto,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.zipCode,{'attr':{'data-validation-length':'0-4','data-validation':'length'}})}}
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Conocimientos y estudios (completos)</h3></div>
	        <div class="panel-body">
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.isPrimarySchool)}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.isBasicCycle)}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.isHighSchool)}}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.isTertiarySchool)}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.isUniversitaryDegree)}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.isPostgrade)}}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		{{form_row(form.degree,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-12">
		        		{{form_row(form.actualStudy,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Prestación de sercivios</h3></div>
	        <div class="panel-body">
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.area,{'attr':{'data-live-search': true,'data-title':'Seleccionar'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.direction,{'attr':{'data-live-search': true,'data-title':'Seleccionar'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.secretariat,{'attr':{'data-live-search': true,'data-title':'Seleccionar'}})}}
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.ministry,{'attr':{'data-live-search': true,'data-title':'Seleccionar'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.areaManager,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		{{form_row(form.institutionOther,{'attr':{'data-validation-length':'0-255','data-validation':'length'}})}}
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Archivos</h3></div>
	        <div class="panel-body">
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		{{form_widget(form.pdfs,{'attr':{'data-validation-length':'max5','data-validation':'length'}})}}
		        	</div>
		        </div>
	        </div>
	    </div>
		
		{{form_widget(form._token)}}
		</form>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<button id="submit-form" class="btn btn-sm btn-primary " >Aceptar</button>
				<a href="{{ path('benefit_index') }}" class="btn btn-sm btn-default">Cancelar</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('plugins/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css') }}">
	<link rel="stylesheet" href="{{ asset('plugins/jQuery-Form-Validator-master/form-validator/theme-default.min.css') }}">

	<link rel="stylesheet" href="{{asset('plugins/kartik-v-bootstrap-fileinput-2c78296/css/fileinput.min.css')}}">
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<script src="{{ asset('plugins/kartik-v-bootstrap-fileinput-2c78296/js/fileinput.min.js') }}"></script>
	<script src="{{ asset('plugins/kartik-v-bootstrap-fileinput-2c78296/themes/fa/theme.min.js') }}"></script>
	<script src="{{ asset('plugins/kartik-v-bootstrap-fileinput-2c78296/js/locales/es.js') }}"></script>


	
	<script src="{{ asset('plugins/jQuery-Mask-Plugin-master/src/jquery.mask.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js') }}"></script>
	<script src="{{ asset('plugins/jQuery-Form-Validator-master/form-validator/jquery.form-validator.min.js') }}"></script>

	<script>
	$(document).ready(function(){
		$('#benefit_birthday').mask('00/00/0000');
		$('#benefit_cuil').mask('00-00000000-0');
		$('#benefit_dni').mask('00.000.000');
		$('#benefit_zipCode').mask('0000');
		
		$('select').selectpicker({});

		  $.validate({
		  	form : 'form',
		    lang: 'es',
		    validateOnBlur : true,
		  });


		  // Array used as error collection
		var errors = [];

		// Validation configuration
		conf = {
		  onElementValidate : function(valid, $el, $form, errorMess) {
		     if( !valid ) {
		      // gather up the failed validations
		      errors.push({el: $el, error: errorMess});
		     }
		  }
		};

		// Optional language object
		lang = {lang:'es'};


		 $('#submit-form').on('click', function() {
		   errors = [];
		   if( $('form[name="benefit"]').isValid(lang, conf, true) ) {
		   		$('form[name="benefit"]').submit();
		   }
		});

		$("#benefit_pdfs").fileinput({
			showUpload:false,
			showUploadedThumbs: false
		});

	});

	</script>
{% endblock %}