<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		html, body, page {
		    width: 700px;
		    font-size: 14px;
		  }
		table{
			width: 100%
		}
		td{
			border:1px solid;
			vertical-align: top;
			min-height: 25px;
		}
		tr.title td {
			text-align: center;
			font-weight: bold;
			font-size: 16px;
		}
		label{
			font-weight: bold;
		}
	</style>
</head>
<body>
	
		<table>
			<tr class="title"><td colspan="4">Generales</td></tr>
			<tr>
				<td >
					<label >Tipo de beneficio</label>
		            <div>{{benefit.typeName}}</div>
				</td>
				<td >
					<label >DNI</label>
		            <div>{{benefit.dni}}</div>
				</td>
				<td >
					<label >Pasaporte</label>
		            <div>{{benefit.passport}}</div>
				</td>
				<td >
					<label >CUIL</label>
		            <div>{{benefit.cuil}}</div>
				</td>
			</tr>
		</table>
		<table>
			<tr class="title">
				<td colspan="4">Datos personales</td>
			</tr>
			<tr>
				<td  colspan="4">
					<label >Apellidos</label>
		            <div>{{benefit.lastname}}</div>
				</td>
			</tr>
			<tr>
				<td  colspan="4">
					<label >Nombres</label>
		            <div>{{benefit.name}}</div>
				</td>
			</tr>
			<tr>
				<td >
					<label >Fecha de nacimiento</label>
		            <div>{{benefit.birthday|date('d-m-Y')}}</div>
				</td>
				<td >
					<label >Lugar de nacimiento</label>
		        	<div>{{benefit.place}}</div>
				</td>
				<td >
					<label >Nacionalidad</label>
		        	<div>{{benefit.nationality}}</div>
				</td>
			</tr>
			<tr>
				<td >
					<label >Grupo sanguineo</label>
		        	<div>{{benefit.bloodTypeName}}</div>
		        </td>
				<td >
					<label >Estado civil</label>
		        	<div>{{benefit.civilStatusName}}</div>
				</td>
				<td >
					<label >Teléfono</label>
		        	<div>{{benefit.phone}}</div>
				</td>
			</tr>
			<tr>
				<td  colspan="4">
					<label >Email</label>
		        	<div>{{benefit.email}}</div>
				</td>
			</tr>
		</table>
		<table>
			<tr class="title">
				<td colspan="4">Domicilio</td>
			</tr>
		</table>
			
		<table>
			<tr>
				<td >
				<label >Calle</label>
	        	<div>{{benefit.street}}</div>
			</td>
			<td >
				<label >Barrio</label>
	        	<div>{{benefit.neighborhood}}</div>
			</td>	
			</tr>
		</table>
			
		<table>
			<tr>
				<td >
					<label >Ciudad</label>
		        	<div>{{benefit.city}}</div>
				</td>
				<td >
					<label >Departamento</label>
		        	<div>{{benefit.depto}}</div>
				</td>
				<td >
					<label >Código postal</label>
		        	<div>{{benefit.zipCode}}</div>
				</td>
			</tr>
		</table>
			
		<table>
			<tr class="title">
				<td colspan="4">Conocimientos y estudios (completos)</td>
			</tr>
		</table>
		
		<table>
			<tr>
				<td >
					<label >¿Primaria completo?</label>
		        	<div>{% if benefit.isPrimarySchool %}Si{% else %}No{% endif %}</div>
				</td>
				<td >
					<label >¿Ciclo básico?</label>
		        	<div>{% if benefit.isBasicCycle %}Si{% else %}No{% endif %}</div>
				</td>
				<td >
					<label >¿Secundaria completo?</label>
		        	<div>{% if benefit.isHighSchool %}Si{% else %}No{% endif %}</div>
				</td>
			</tr>
			<tr>
				<td >
					<label >¿Terciario completo?</label>
		        	<div>{% if benefit.isTertiarySchool %}Si{% else %}No{% endif %}</div>
				</td>
				<td >
					<label >¿Título universitario?</label>
		        	<div>{% if benefit.isUniversitaryDegree %}Si{% else %}No{% endif %}</div>
				</td>
				<td >
					<label >¿Posgrado?</label>
		        	<div>{% if benefit.isPostgrade %}Si{% else %}No{% endif %}</div>
				</td>
			</tr>
		</table>
			
			
		<table>
			<tr>
				<td >
					<label >Título obtenido</label>
		        	<div>{{benefit.degree}}</div>
				</td>
				<td >
					<label >Estudios en curso</label>
		        	<div>{{benefit.actualStudy}}</div>
				</td>
			</tr>
		</table>
		<table>
			<tr class="title">
				<td colspan="4">Prestación de sercivios</td>
			</tr>
			<tr>
				<td >
					<label >Área / Coordinación / Unidad</label>
		        	<div>{{benefit.area}}</div>
				</td>
				<td >
					<label >Dirección</label>
		        	<div>{{benefit.direction}}</div>
				</td>
				<td >
					<label >Subsecretaría</label>
		        	<div>{{benefit.secretariat}}</div>
				</td>
			</tr>
			<tr>
				<td >
					<label >Ministerio / Secretaria</label>
		        	<div>{{benefit.ministry}}</div>
				</td>
				<td >
					<label >Encargado del área</label>
		        	<div>{{benefit.areaManager}}</div>
				</td>
				<td >
					<label >Institución / otros</label>
		        	<div>{{benefit.institutionOther}}</div>
				</td>
			</tr>
		</table>
		<table>
			<tr class="title">
				<td colspan="2">Archivos</td>
			<tr>
			<tr>
				<td>Legajo personal</td>
				<td>
					{% if files[1] %}
	        			<a href="{{ site ~ files[1]}}" target="_blank">Ver</a>
	        		{% endif %}
				</td>
			</tr>
			<tr>
				<td>DNI</td>
				<td>
					{% if files[2] %}
	        			<a href="{{site ~ files[2]}}" target="_blank">Ver</a>
	        		{% endif %}
				</td>
			</tr>
			<tr>
				<td>Certificación de trabajo</td>
				<td>
					{% if files[3] %}
	        			<a href="{{site ~ files[3]}}" target="_blank">Ver</a>
	        		{% endif %}
				</td>
			</tr>
			<tr>
				<td>Título</td>
				<td>
					{% if files[4] %}
	        			<a href="{{site ~ files[4]}}" target="_blank">Ver</a>
	        		{% endif %}
				</td>
			</tr>
			<tr>
				<td>Constancia de alumno regular</td>
				<td>
					{% if files[5] %}
	        			<a href="{{site ~ files[5]}}" target="_blank">Ver</a>
	        		{% endif %}
				</td>
			</tr>
			
		</table>
	
</body>
</html>