<html>
	<head>
		<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			html, body, page {
			    width: 700px;
			    font-size: 14px;
			  }
			table{
				width: 100%
			}
			td{
				border-bottom: 1px solid #ccc;
				padding: 5px;
			}
			label{
				font-weight: bold;
			}
		</style>
	</head>
	</head>
	<body>
		<center><h3>{{title}}</h3></center>
		<table>
		<thead>
		    <tr>
		    	<th>Número</th>
		        <th>Nombre</th>
		        <th>DNI/pasaporte</th>
		        <th>Tipo</th>
		        <th>Área/Otro</th>
		    </tr>
		</thead>
		<tbody>
			{% for benefit in benefits %}
			    <tr>
			    	<td>{{ loop.index }}</td>
			        <td>{{benefit.fullName}}</td>
			        <td>
			        	{{benefit.dni}}
			        	{% if benefit.passport %}
			        		/ {{benefit.passport}}
			        	{% endif %}
			        </td>
			        <td>{{benefit.typeName}}</td>
			        <td>
			        	{% if benefit.area %}
			        		{{benefit.area.name}}
			        	{% elseif benefit.institutionOther %}
			        		{{benefit.institutionOther}}
			        	{% else %}
			        		No hay datos cargados
			        	{% endif %}
			        </td>
			    </tr>
			{% endfor %}
		</tbody>
		</table>
	</body>
</html>