{% extends 'layout.html.twig' %}

{% block body %}
	<div class="benefit-wrapper">
		<div class="panel panel-default">
	        <div class="panel-heading"><h3>Generales</h3></div>
	        <div class="panel-body">
	        	<div class="row">
		            <div class="col-xs-12 col-sm-3">
		            	<label>Tipo de beneficio</label>
		            	<div>{{benefit.typeName}}</div>
		            </div>
		            <div class="col-xs-12 col-sm-3">
		            	<label>DNI</label>
		            	<div>{{benefit.dni}}</div>
		            </div>
		            <div class="col-xs-12 col-sm-3">
		            	<label>Pasaporte</label>
		            	<div>{{benefit.passport}}</div>
		            </div>
		            <div class="col-xs-12 col-sm-3">
		            	<label>CUIL</label>
		            	<div>{{benefit.cuil}}</div>
		            </div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Datos personales</h3></div>
	        <div class="panel-body">
	        	<div class="row">
		            <div class="col-xs-12 co sm-12">
		            	<label>Apellidos</label>
		            	<div>{{benefit.lastname}}</div>
		            </div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		<label>Nombres</label>
		            	<div>{{benefit.name}}</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Fecha de nacimiento</label>
		            	<div>{{benefit.birthday|date('d-m-Y')}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Lugar de nacimiento</label>
		        		<div>{{benefit.place}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Nacionalidad</label>
		        		<div>{{benefit.nationality}}</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Grupo sanguineo</label>
		        		<div>{{benefit.bloodTypeName}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Estado civil</label>
		        		<div>{{benefit.civilStatusName}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Teléfono</label>
		        		<div>{{benefit.phone}}</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		<label>Email</label>
		        		<div>{{benefit.email}}</div>
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Domicilio</h3></div>
	        <div class="panel-body">
	        	<div class="row">
		            <div class="col-xs-12 co sm-6">
		            	<label>Calle</label>
		        		<div>{{benefit.street}}</div>
		            </div>
		            <div class="col-xs-12 co sm-6">
		            	<label>Barrio</label>
		        		<div>{{benefit.neighborhood}}</div>
		            </div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Ciudad</label>
		        		<div>{{benefit.city}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Departamento</label>
		        		<div>{{benefit.depto}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Código postal</label>
		        		<div>{{benefit.zipCode}}</div>
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Conocimientos y estudios (completos)</h3></div>
	        <div class="panel-body">
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>¿Primaria completo?</label>
		        		<div>{% if benefit.isPrimarySchool %}Si{% else %}No{% endif %}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>¿Ciclo básico?</label>
		        		<div>{% if benefit.isBasicCycle %}Si{% else %}No{% endif %}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>¿Secundaria completo?</label>
		        		<div>{% if benefit.isHighSchool %}Si{% else %}No{% endif %}</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>¿Terciario completo?</label>
		        		<div>{% if benefit.isTertiarySchool %}Si{% else %}No{% endif %}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>¿Título universitario?</label>
		        		<div>{% if benefit.isUniversitaryDegree %}Si{% else %}No{% endif %}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>¿Posgrado?</label>
		        		<div>{% if benefit.isPostgrade %}Si{% else %}No{% endif %}</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		<label>Título obtenido</label>
		        		<div>{{benefit.degree}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-12">
		        		<label>Estudios en curso</label>
		        		<div>{{benefit.actualStudy}}</div>
		        	</div>
		        </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading"><h3>Prestación de sercivios</h3></div>
	        <div class="panel-body">
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Área / Coordinación / Unidad</label>
		        		<div>{{benefit.area}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Dirección</label>
		        		<div>{{benefit.direction}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Subsecretaría</label>
		        		<div>{{benefit.secretariat}}</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Ministerio / Secretaria</label>
		        		<div>{{benefit.ministry}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Encargado del área</label>
		        		<div>{{benefit.areaManager}}</div>
		        	</div>
		        	<div class="col-xs-12 col-sm-4">
		        		<label>Institución / otros</label>
		        		<div>{{benefit.institutionOther}}</div>
		        	</div>
		        </div>
	        </div>
	    </div>

	     <div class="panel panel-default">
	        <div class="panel-heading"><h3>Archivos</h3></div>
	        <div class="panel-body">
		        <div class="row">
		        	<div class="col-xs-12 col-sm-12">
		        		<label for="">Legajo personal</label>
		        		{% if files[1] %}
		        			<a href="{{site ~ files[1]}}" target="_blank">Ver</a>
		        		{% endif %}
		        		<hr>
		        		<label for="">DNI</label>
		        		{% if files[2] %}
		        			<a href="{{site ~ files[2]}}" target="_blank">Ver</a>
		        		{% endif %}
		        		<hr>
		        		<label for="">Certificación de trabajo</label>
		        		{% if files[3] %}
		        			<a href="{{site ~ files[3]}}" target="_blank">Ver</a>
		        		{% endif %}
		        		<hr>
		        		<label for="">Título</label>
		        		{% if files[4] %}
		        			<a href="{{site ~ files[4]}}" target="_blank">Ver</a>
		        		{% endif %}
		        		<hr>
		        		<label for="">Constancia de alumno regular</label>
		        		{% if files[5] %}
		        			<a href="{{site ~ files[5]}}" target="_blank">Ver</a>
		        		{% endif %}
		        	</div>
		        </div>
	        </div>
	    </div>
		
	</div>
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('plugins/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css') }}">
	<link rel="stylesheet" href="{{ asset('plugins/jQuery-Form-Validator-master/form-validator/theme-default.min.css') }}">

	<link rel="stylesheet" href="{{asset('plugins/kartik-v-bootstrap-fileinput-2c78296/css/fileinput.min.css')}}">
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<script src="{{ asset('plugins/kartik-v-bootstrap-fileinput-2c78296/js/fileinput.min.js') }}"></script>
	<script src="{{ asset('plugins/kartik-v-bootstrap-fileinput-2c78296/themes/fa/theme.min.js') }}"></script>
	<script src="{{ asset('plugins/kartik-v-bootstrap-fileinput-2c78296/js/locales/es.js') }}"></script>


	
	<script src="{{ asset('plugins/jQuery-Mask-Plugin-master/src/jquery.mask.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js') }}"></script>
	<script src="{{ asset('plugins/jQuery-Form-Validator-master/form-validator/jquery.form-validator.min.js') }}"></script>

	<script>
	$(document).ready(function(){
		$('#benefit_birthday').mask('00/00/0000');
		$('#benefit_cuil').mask('00-00000000-0');
		$('#benefit_dni').mask('00.000.000');
		$('#benefit_zipCode').mask('0000');
		
		$('select').selectpicker({});

		  $.validate({
		  	form : 'form',
		    lang: 'es',
		    validateOnBlur : true,
		  });


		  // Array used as error collection
		var errors = [];

		// Validation configuration
		conf = {
		  onElementValidate : function(valid, $el, $form, errorMess) {
		     if( !valid ) {
		      // gather up the failed validations
		      errors.push({el: $el, error: errorMess});
		     }
		  }
		};

		// Optional language object
		lang = {lang:'es'};


		 $('#submit-form').on('click', function() {
		   errors = [];
		   if( $('form[name="benefit"]').isValid(lang, conf, true) ) {
		   		$('form[name="benefit"]').submit();
		   }
		});

		$("#benefit_pdfs").fileinput({
			showUpload:false,
			showUploadedThumbs: false
		});

	});

	</script>
{% endblock %}