{% extends '@AppBundle/Resources/views/index_layout.html.twig' %}

{% block body_title %}Ministerios{% endblock %}

{% block body_search %}
	<form method="GET">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="" name="filter[name]" placeholder="Nombre" class="form-control" {% if filter['name'] is defined %} value="{{filter['name']}}" {% endif %}>
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
        <a href="{{path('ministry_index')}}" class="btn btn-sm btn-default">Todos</a>
    </form>
{% endblock %}

{% block body_new_button %}<a href="{{path('ministry_new')}}" class="btn btn-primary btn-sm">Nuevo ministerio</a>{% endblock %}

{% block body_table %}
	<thead>
	    <tr>
	        <th>Nombre</th>
	        <th width="100">Acciones</th>
	    </tr>
	</thead>
	<tbody>
		{% for ministry in ministries %}
		    <tr>
		        <td>{{ministry.name}}</td>
		        <td>
		            <a href="{{ path('ministry_edit', { 'id': ministry.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
		            <a href="{{ path('ministry_delete', { 'id': ministry.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar el registro?')"><i class="glyphicon glyphicon-trash"></i></a>
		        </td>
		    </tr>
		{% endfor %}
	</tbody>
{% endblock %}